pypdf==5.4.0
langchain==0.3.23
torch==2.6.0
accelerate==1.6.0
ctransformers==0.2.27
sentence_transformers==4.0.2
faiss_cpu==1.10.0
chainlit==2.4.400
huggingface_hub==0.30.2
langchain_community==0.3.21
langchain_huggingface==0.1.2